#
# This file contains configuration flags to customize your site
#

# Site information
name: "Shun Zhang"
description: "Embodied AI + Reasoning @ NVIDIA"

# Google Analytics 4 tracking ID
google_analytics: G-0YD0Y04BWT

homepage_url: "https://shunzh.github.io" # the location where you host your personal homepage

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: images/shun_profile.png
location: San Francisco Bay Area

email: shunzh@umich.edu
github_id: shunzh
google_scholar_id: 0Fk7sSAAAAAJ
linkedin_id: shun-zhang-1b154437

# Jekyll configuration
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

# Set the Sass partials directory, as we're using @imports
sass:
  style: :compressed # You might prefer to minify using :compressed

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME

collections:
  pages:
    output: true
