---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body {
  color: #202124; /* Google Plus Black */
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-display: auto;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-display: auto;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-left: 0px;
  margin-right: 0px;
}

h1, h2, h3 {
  color: #000000;
}

.tag {
  background-color: #f2f2f2;
  color: #444444;
  padding: 0 6px;
}

/* Prevent hyperlink style change for the 'author' class */
.authors a {
  color: inherit;
  text-decoration: inherit;
}
.authors a:hover {
  color: #888;
}

#footer, #footer a {
  text-align: center;
  font-size: small;
}

#viewWarning {
  display: none;
}

@media (max-width: 800px) {
  #research td {
    border-bottom: 1px solid #ccc;
  }
  #viewWarning {
    display: inline;
  }
}

#researchOverview {
  cursor: pointer;
}

tr {
  background-color: transparent; /* Set an initial state */
  transition: background-color 0.5s ease; /* Apply the transition here */
}

.highlighted {
  background-color: #FFD700;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";

#goBackDiv {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 40px; /* Place the div at the bottom of the page */
  left: calc(50% + 420px);
  z-index: 99; /* Make sure it does not overlap */
  text-align: center; /* Center the text inside the div */
}

#alphabetic {
  padding-right: 3px; /* Adjust the value as needed */
  position: relative;
  display: inline-block;
}
