<div id="diagram">
    <!-- RL + VA -->
    <div class="textbox" id="box1">
        Reward uncertainty (<a href="#ZDS17">ZDS '17</a>);<br>
        Safety constraint uncertainty<br>
        (<a href="#ZDS18">ZDS '18</a>, <a href="#ZDS20">ZDS '20</a>)
    </div>
    
    <!-- RL + FM -->
    <div class="textbox" id="box2">
        FM as infrastructure for RL<br>
        (<a href="#XSZ22">XSZ+ '22</a>, <a href="#XLS23">XLS+ '23</a>);<br>
        Planning in FM inference<br>
        (<a href="#ZCS23">ZCS+ '23</a>);<br>
        AI for scientific discovery<br>
        (<a href="#FCZ21">FCZ+ '21</a>)
    </div>

    <!-- FM + VA -->
    <div class="textbox" id="box3">
        Pessimism in the face of uncertainty (work in progress)
    </div>
</div>
