{%- assign enable_links = include.enable_links | default: false -%}
{%- assign authors = include.authors -%}
{%- assign authorData = site.data.authors -%}
<span class="authors">
{%- for author in authors -%}
  {%- assign authorInfo = authorData | where: "name", author | first -%}
  {%- assign displayAuthor = author -%}
  {%- if authorInfo and authorInfo.is_me -%}
    {%- assign displayAuthor = '<strong>' | append: displayAuthor | append: '</strong>' -%}
  {%- endif -%}
  {%- if enable_links and authorInfo and authorInfo.website -%}
    {%- assign displayAuthor = '<a href="' | append: authorInfo.website | append: '">' | append: displayAuthor | append: '</a>' -%}
  {%- endif -%}

  {%- if forloop.index == 1 -%}
    {{ displayAuthor }}
  {%- elsif forloop.last -%}
    {% if forloop.length > 2 %}, {% else %} {% endif %}and {{ displayAuthor }}
  {%- else -%}
    , {{ displayAuthor }}
  {%- endif -%}
{%- endfor -%}
</span>