<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ page.title }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="stylesheet" type="text/css" href="/diagram.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

{% include ga4.html %}
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">

              {{ page.content }}

              <p style="text-align:center">
                <a href="mailto:{{ site.email }}"> Email </a> &nbsp;/&nbsp;
                <a href="https://github.com/{{ site.github_id }}"> GitHub </a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}"> Google Scholar </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/{{ site.linkedin_id }}"> LinkedIn </a>
                <!-- <a href="{{ site.homepage_url }}/rethink"> ReThink (Blog) </a> -->
              </p>
            </td>
            <td style="padding:2.5%;width:28%;max-width:28%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="{{ site.avatar }}">
            </td>
          </tr>
        </table>

        <table id="research_section" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>

        <div style="padding:1.5% 2.5%;">
        <details>
          <summary><span id="researchOverview">Research Overview <span id="toggleState">(click to expand)</span> <span id="viewWarning">(best viewed on wider screens)</span></span></summary>
          {% include diagram.html %}
        </details>
        </div>

        <table id="research" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% comment %} Print everything in research category which has a image (otherwise assume we want to hide it). {% endcomment %}
          {% for post in site.posts %}
            {% if post.categories contains 'paper' or post.categories contains 'preprint' %}
              {% if post.image %}
                {% if post.shortname %}
                  {% assign shortname = post.shortname %}
                {% else %}
                  {% capture shortname %}{% include shortname.html authors=post.authors year=post.year %}{% endcapture %}
                {% endif %}
          <tr id="{{ shortname | strip }}">
            <td style="padding:3% 2.5%;width:32%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:3% 2.5%;width:73%;vertical-align:middle">
              <h3>
                {% if post.star %}
                <span class="star"><i class="fa-solid fa-star" style="color: gold;" title="Featured work"></i></span>
                {% endif %}
                {{post.title}}
              </h3>
              <br>
              <span class="authors">
                {% if post.alphabetical %}
                <span id="alphabetic" title="The authors are listed in alphabetical order."><i class="fa-solid fa-arrow-down-a-z"></i></span>
                {% endif %}
                {% include list_authors.html authors=post.authors enable_links=true %}
              </span>
              <br>
              <em>{{post.venue}}</em>, {{post.year}}
              <br>
              {% if post.paper %}
              [<a href="{{post.paper}}">paper</a>] 
              {% endif %}
              {% if post.slides %}
              [<a href="{{post.slides}}">slides</a>] 
              {% endif %}
              {% if post.poster %}
              [<a href="{{post.poster}}">poster</a>] 
              {% endif %}
              {% if post.website %}
              [<a href="{{post.website}}">website</a>] 
              {% endif %}
              {% if post.code %}
              [<a href="{{post.code}}">code</a>] 
              {% endif %}
              {{ post.excerpt }}
              <p></p>
              {% if post.tags %}
              {% for tag in post.tags %}
                <span class="tag"># {{ tag }}</span>
              {% endfor %}
              {% endif %}
            </td>
          </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p id="footer">
                Design and source code from <a href="https://jonbarron.info">Jon Barron's website</a>
                and <a href="https://leonidk.com/">Leonid Keselman</a>'s <a style="font-size:small;" href="https://github.com/leonidk/new_website">Jekyll fork</a>.<br>
                CV template from <a href="https://mike.place/">Mike Lee Williams</a>'s <a href="https://github.com/mikepqr/resume.md">resume.md</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

<script>
function handleHashChange(hash) {
    const elem = document.querySelector(hash);
    if (elem) {
        elem.scrollIntoView({ behavior: 'smooth', block: 'start' });
        elem.classList.add('highlighted');

        setTimeout(() => {
            elem.classList.remove('highlighted');
        }, 1000);
    } else {
        console.log(`Element not found: ${hash}`);
    }
};

document.querySelectorAll('a[href^="#"]').forEach(anchor => {
  anchor.addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default anchor behavior
    handleHashChange(event.currentTarget.getAttribute("href"));
  });
});

// Add details toggle handler
document.querySelector('details').addEventListener('toggle', function(e) {
    const toggleState = document.getElementById('toggleState');
    if (e.target.open) {
        toggleState.textContent = '(click to collapse)';
    } else {
        toggleState.textContent = '(click to expand)';
    }
});
</script>
</body>

</html>

