<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ page.title }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

{% include ga4.html %}
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">

              {{ page.content }}

              <p style="text-align:center">
                <a href="mailto:{{ site.email }}"> Email </a> &nbsp;/&nbsp;
                <a href="https://github.com/{{ site.github_id }}"> GitHub </a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}"> Google Scholar </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/{{ site.linkedin_id }}"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://twitter.com/{{ site.twitter_id }}"> Twitter </a>
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:25%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="{{ site.avatar }}">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>

        <div style="padding:1% 2.5%;">
        <span id="toggleText">▼ Show research overview</span>
        <span id="viewWarning">(best viewed on wider screens)</span>
        {% include diagram.html %}
        </div>

        <script>
          const toggleText = document.getElementById("toggleText");
          const myImage = document.getElementById("diagram");
        
          let isImageVisible = false;
        
          toggleText.addEventListener("click", function() {
            if (isImageVisible) {
              myImage.style.opacity = 0;
              setTimeout(() => {
                myImage.style.display = "none";
              }, 0);  // Adjust to match the transition time
              toggleText.textContent = "▼ Show research overview";
            } else {
              myImage.style.display = "block";
              setTimeout(() => {
                myImage.style.opacity = 1;
              }, 20);
              toggleText.textContent = "▲ Hide research overview";
            }
            isImageVisible = !isImageVisible;
          });
        </script>

        <table id="research" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% comment %} Print everything in research category which has a image (otherwise assume we want to hide it). {% endcomment %}
          {% for post in site.posts %}
          {% if post.categories contains 'research' and post.image %}
          {% if post.shortname %}
          <tr id="{{post.shortname}}">
          {% else %}
          <tr>
          {% endif %}
            <td style="padding:2.5%;width:32%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:73%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <span class="authors">
              {% include list_authors.html authors=post.authors enable_links=true %}
              </span>
              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.paper %}
              [<a href="{{post.paper}}">paper</a>] 
              {% endif %}
              {% if post.slides %}
              [<a href="{{post.slides}}">slides</a>] 
              {% endif %}
              {% if post.poster %}
              [<a href="{{post.poster}}">poster</a>] 
              {% endif %}
              {% if post.website %}
              [<a href="{{post.website}}">website</a>] 
              {% endif %}
              {% if post.code %}
              [<a href="{{post.code}}">code</a>] 
              {% endif %}
              {{ post.excerpt }}
              <p></p>
              {% if post.tags %}
              {% for tag in post.tags %}
                <span class="tag"># {{ tag }}</span>
              {% endfor %}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p id="footer">
                Design and source code from <a href="https://jonbarron.info">Jon Barron's website</a>
                and <a href="https://leonidk.com/">Leonid Keselman</a>'s <a style="font-size:small;" href="https://github.com/leonidk/new_website">Jekyll fork</a>.<br>
                CV template from <a href="https://mike.place/">Mike Lee Williams</a>'s <a href="https://github.com/mikepqr/resume.md">resume.md</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

<script>
// When the window hash changes
function handleHashChange(hash) {
    const elem = document.querySelector(hash);
    if (elem) {
        // Add the highlighted class
        elem.classList.add('highlighted');

        setTimeout(() => {
            elem.classList.remove('highlighted');
        }, 500);
    }
};

document.querySelectorAll('a[href^="#"]').forEach(anchor => {
  anchor.addEventListener("click", function(event) {
    handleHashChange(event.target.getAttribute("href"));
  });
});
</script>
</body>

</html>

